QWidget{ color:#ffffff; background-color:#282828; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
QDialog{ border:1px solid #a0a0a0; color: #ffffff; background-color: #282828; }
QMenuBar{ color:#D8DEE9; background-color:#707070; }
QMenuBar::item{ background-color: transparent;  /* 預設透明背景 */ }
QMenuBar::item:selected{ color: black; background-color: #d0d0d0; }

QMenu{ border: 1px solid #cccccc; background-color: #ffffff; }
QMenu::item{ color: black; background-color: transparent; padding: 5px 15px; }
QMenu::item:selected { color: #ffffff; background-color: #3399ff; }


QTabWidget { border:1px solid #f0f0f0 }
QTabBar::tab{ border:1px solid #a0a0a0; color:#c8c8c8; background-color:#282828; font-size:12px; text-align:center; border-radius: 2px;}
QTabBar::tab:left, QTabBar::tab:right { min-width:20px; min-height:60px; }
QTabBar::tab:top, QTabBar::tab:bottom { min-width:80px; min-height:25px; } 
QTabBar::tab:hover  { color:#ffffff; background-color:#707070; }
QTabBar::tab:selected { color:#ffffff; background-color:#707070; spacing: 5px;}


QTableView { border: 1px solid #c8c8c8; color: white; background-color: #2D2D2D; gridline-color: #707070; }
QHeaderView::section { color: #FFFFFF; background-color: #474747; }
			
			
QRadioButton{ color: #FFFFFF;}
QRadioButton:hover{ color:#c8c8c8; }
QRadioButton:disabled{ color:#464646;}
QRadioButton::indicator::unchecked         { image: url(./resources/Elements/RadioOff.svg); }
QRadioButton::indicator:unchecked:hover    { image: url(./resources/Elements/RadioOff_hov.svg); }
QRadioButton::indicator:unchecked:pressed  { image: url(./resources/Elements/RadioOff_hov.svg); }
QRadioButton::indicator:unchecked:disabled { image: url(./resources/Elements/RadioOff_dis.svg); }
QRadioButton::indicator::checked           { image: url(./resources/Elements/RadioOn.svg); }
QRadioButton::indicator:checked:hover      { image: url(./resources/Elements/RadioOn_hov.svg); }
QRadioButton::indicator:checked:pressed    { image: url(./resources/Elements/RadioOn_hov.svg);}
QRadioButton::indicator:checked:disabled   { image: url(./resources/Elements/RadioOn_dis.svg);}

QComboBox { height: 24px; border:1px solid #f0f0f0; color:#c8c8c8; background-color:#40527D; font-size:12px; font-family:Arial, Helvetica, sans-serif;padding-left:10px;}
/* QComboBox::drop-down { subcontrol-origin: padding; subcontrol-position: top right; width: 20px;border:none;} */
QComboBox QAbstractItemView { border: 1px solid #f0f0f0; }
QComboBox QAbstractItemView::item {
    selection-background-color: lightblue; /* 選中項目的背景顏色 */
    selection-color: red; /* 選中項目的文字顏色 */
}

QCheckBox{ color: #FFFFFF;}
QCheckBox::indicator:unchecked         { image: url(./resources/CheckOff.svg); }
QCheckBox::indicator:unchecked:hover   { image: url(./resources/CheckOff_hov.svg); }
QCheckBox::indicator:unchecked:pressed { image: url(./resources/CheckOff_hov.svg);}
QCheckBox::indicator:unchecked:disabled{ image: url(./resources/CheckOff_dis.svg);}
QCheckBox::indicator:checked           { image: url(./resources/CheckOn_sel.svg); }
QCheckBox::indicator:checked:hover     { image: url(./resources/CheckOn_hov.svg); }
QCheckBox::indicator:checked:pressed   { image: url(./resources/CheckOn_hov.svg); }
QCheckBox::indicator:checked:disabled  { image: url(./resources/CheckOn_dis.svg);}

QLineEdit{ border:1px solid #c8c8c8; background-color:#707070;}
QLineEdit:disabled{ border:1px solid #3c3c3c; background-color:#707070;}

QPushButton{ height:24px; border:1px solid #f0f0f0; border-radius:3px; color:#c8c8c8; background-color:#383838; text-align:center; }
QPushButton:hover{ color:#c8c8c8; background-color:#707070; }
QPushButton:pressed{ color:#000000;background-color:#c8c8c8; }
QPushButton:disabled{ border:1px solid #3c3c3c; color:#464646; background-color:#282828;}


QSpinBox{ border:1px solid #f0f0f0; color:#ffffff; background-color:#707070; font-size:12px; font-family:Arial, Helvetica, sans-serif; }  
QSpinBox:disabled{ border:1px solid #3c3c3c; color:#464646;}  
QSpinBox::up-button { subcontrol-origin:border; subcontrol-position:top right; width: 13px; height:7px; background-color:#282828; border:1px solid #707070; }   
QSpinBox::up-button:hover {background-color:#707070;}   
QSpinBox::up-button:pressed {background-color:#c8c8c8;}   
QSpinBox::up-button:disabled {background-color:#282828; border:1px solid #3c3c3c;}   
QSpinBox::up-arrow { image: url(./resources/Elements/ArrowSpinner_T.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QSpinBox::up-arrow:hover {image: url(./resources/Elements/ArrowSpinner_T.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QSpinBox::up-arrow:pressed {image: url(./resources/Elements/ArrowSpinner_T_sel.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QSpinBox::up-arrow:disabled { image:url(./resources/Elements/ArrowSpinner_T_dis.svg);border:1px solid #3c3c3c }   

QSpinBox::down-button { subcontrol-origin:border; subcontrol-position: bottom right; width: 13px; height:7px; background-color:#282828; border:1px solid #707070; }   
QSpinBox::down-button:hover {background-color:#707070;}   
QSpinBox::down-button:pressed {background-color:#c8c8c8;}   
QSpinBox::down-button:disabled {background-color:#282828; border:1px solid #3c3c3c;}   
QSpinBox::down-arrow { image: url(./resources/Elements/ArrowSpinner_B.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QSpinBox::down-arrow:hover {image: url(./resources/Elements/ArrowSpinner_B.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QSpinBox::down-arrow:pressed {image: url(./resources/Elements/ArrowSpinner_B_sel.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QSpinBox::down-arrow:disabled { image:url(./resources/Elements/ArrowSpinner_B_dis.svg);border:1px solid #3c3c3c }   

QDoubleSpinBox{ border:1px solid #f0f0f0; color:#ffffff; background-color:#707070; font-size:12px; font-family:Arial, Helvetica, sans-serif; }  
QDoubleSpinBox:disabled{ border:1px solid #3c3c3c; color:#464646;}  
QDoubleSpinBox::up-button { subcontrol-origin:border; width: 13px; height:7px; background-color:#282828; border:1px solid #707070; }   
QDoubleSpinBox::up-button:hover {background-color:#707070;}   
QDoubleSpinBox::up-button:pressed {background-color:#c8c8c8;}   
QDoubleSpinBox::up-button:disabled {background-color:#282828; border:1px solid #3c3c3c;}   
QDoubleSpinBox::up-arrow { image: url(./resources/Elements/ArrowSpinner_T.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QDoubleSpinBox::up-arrow:hover {image: url(./resources/Elements/ArrowSpinner_T.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QDoubleSpinBox::up-arrow:pressed {image: url(./resources/Elements/ArrowSpinner_T_sel.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QDoubleSpinBox::up-arrow:disabled { image:url(./resources/Elements/ArrowSpinner_T_dis.svg);border:1px solid #3c3c3c }   

QDoubleSpinBox::down-button { subcontrol-origin:border; width: 13px; height:7px; background-color:#282828; border:1px solid #707070; }   
QDoubleSpinBox::down-button:hover {background-color:#707070;}   
QDoubleSpinBox::down-button:pressed {background-color:#c8c8c8;}   
QDoubleSpinBox::down-button:disabled {background-color:#282828; border:1px solid #3c3c3c;}   
QDoubleSpinBox::down-arrow { image: url(./resources/Elements/ArrowSpinner_B.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QDoubleSpinBox::down-arrow:hover {image: url(./resources/Elements/ArrowSpinner_B.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QDoubleSpinBox::down-arrow:pressed {image: url(./resources/Elements/ArrowSpinner_B_sel.svg); width:10px; height: 6px;border:1px solid #f0f0f0 }   
QDoubleSpinBox::down-arrow:disabled { image:url(./resources/Elements/ArrowSpinner_B_dis.svg);border:1px solid #3c3c3c }   

QMessageBox QPushButton { min-width: 100px; }

QDateEdit{ border:1px solid #f0f0f0; color:#ffffff; background-color:#707070; font-size:12px; font-family:Arial, Helvetica, sans-serif; }  
QDateEdit:disabled{ border:1px solid #3c3c3c; color:#464646;}  